.parent{
    -fx-background-color : transparent;
}

.pane{
    -fx-background-color : #2196f3;
}

.trans-btn-white-border{
    -fx-background-color : transparent;
    -fx-background-radius : 5px;
    -fx-border-color : #cccccc;
    -fx-border-radius : 5px;
    -fx-border-width : 1px;
    -fx-text-fill : whitesmoke;
}

.white-pane{
    -fx-background-color : #ffffff;
}

.blue-panel{
    -fx-background-color : #151928;
}

.tf_box{
    -fx-background-color : transparent;
    -fx-border-color : #DEDEE4;
    -fx-border-width : 0px 0px 1px 0px;
}

.tf{
    -fx-background-color : transparent;
}

.blue-btn{
    -fx-background-color : #2196f3;
    -fx-background-radius : 5px;
    -fx-text-fill : #ffffff;
}

.trans-btn-transparent-border{
    -fx-background-color : transparent;
    -fx-background-radius : 5px;
    -fx-border-color : transparent;
    -fx-border-radius : 5px;
    -fx-border-width : 1px;
    -fx-text-fill : whitesmoke;
}

.sideBarItem:hover{
    -fx-background-color : #146886;
    -fx-border-color : WHITE;
    -fx-border-width : 0px 0px 0px 3px;
}

.card{
    -fx-background-color: #151928;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0.2, 2, 2);
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 10;
}

